# Data Wrangling
1. Data Collection 
2. Data Definition
3. Data Cleaning

## 1. Data Collection

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

The structured dataset originated from the Better Buildings Neighborhood Program comes in two different tables:
- bbnp_installed_measures_res_sf: with information about retrofit measures installed in each project
- bbnp_retrofit_project_table_res_sf: architecture and construction attributes of each project

In this section, I will blend both tables to invertigate relationships between them.  

Moreover, I will combine the dataset from Better Buildings Neighborhood Program with climate data from the National Oceanic and Atmospheric Administration (NOAA); namely, annual average cooling degree days and annual average heating degree days, which represent the most important external factors to determine the amount of heating and cooling in a building. The link between project and climate data will be location-wise (state).

In [2]:
# Import dataset from Better Buildings Neighborhood Program 
measures_file = 'C:/Users/javie/OneDrive/Documents/springboard_projects/Capstone-2/data/raw/bbnp_installed_measures_res_sf.csv'
project_file = 'C:/Users/javie/OneDrive/Documents/springboard_projects/Capstone-2/data/raw/bbnp_retrofit_project_table_res_sf.csv'

# Load them into pandas dataframes
measures_df = pd.read_csv(measures_file, index_col=None, low_memory=False)
project_df = pd.read_csv(project_file, index_col=None, low_memory=False)

# Import climatic data from National Oceanic and Atmospheric Administration (NOAA) and location:
cool_degree_days_file = 'C:/Users/javie/OneDrive/Documents/springboard_projects/Capstone-2/data/raw/ann-cldd-normal.txt'
heat_degree_days_file = 'C:/Users/javie/OneDrive/Documents/springboard_projects/Capstone-2/data/raw/ann-htdd-normal.txt'
station_location_file = 'C:/Users/javie/OneDrive/Documents/springboard_projects/Capstone-2/data/raw/zipcodes-normals-stations.txt'
zip_codes_file = 'C:/Users/javie/OneDrive/Documents/springboard_projects/Capstone-2/data/raw/zip_code_database.csv'

# Load them into pandas dataframes
cool_degree_days_df = pd.read_csv(cool_degree_days_file, sep="        ", engine='python', names=['STATION_ID', 'COOLING_DD'], index_col=None)
heat_degree_days_df = pd.read_csv(heat_degree_days_file, sep="        ", engine='python', names=['STATION_ID', 'HEATING_DD'], index_col=None)
station_location_df = pd.read_csv(station_location_file, sep=" ", usecols=[0, 1], names=['STATION_ID', 'ZIP_CODE'], index_col=None)
zip_codes_df = pd.read_csv(zip_codes_file, usecols=['zip', 'state'], index_col=None)

### First, I will consolidate the climate dataset

In [3]:
# Standarize character length and data type in station_location_df

station_location_df['ZIP_CODE'] = station_location_df['ZIP_CODE'].apply(lambda x: '{0:0>5}'.format(x)).astype('int64') 
station_location_df['STATION_ID'] = station_location_df['STATION_ID'].astype('string')

In [4]:
# Standarize character length, data type and column names in zip_codes_df

zip_codes_df['zip'] = zip_codes_df['zip'].apply(lambda x: '{0:0>5}'.format(x)).astype('int64') 
zip_codes_df['state'] = zip_codes_df['state'].astype('string')
zip_codes_df.columns = ['ZIP_CODE', 'STATE']

In [5]:
# Standarize data type and removing forward blank spaces in climate data

cool_degree_days_df = cool_degree_days_df.astype('string')
heat_degree_days_df = heat_degree_days_df.astype('string')

cool_degree_days_df['COOLING_DD'] = cool_degree_days_df['COOLING_DD'].str.strip()
heat_degree_days_df['HEATING_DD'] = heat_degree_days_df['HEATING_DD'].str.strip()

In [6]:
# Check null value amount

cool_degree_days_df.info(), heat_degree_days_df.info(), station_location_df.info(), zip_codes_df.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   STATION_ID  7501 non-null   string
 1   COOLING_DD  7471 non-null   string
dtypes: string(2)
memory usage: 117.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   STATION_ID  7501 non-null   string
 1   HEATING_DD  7237 non-null   string
dtypes: string(2)
memory usage: 117.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9794 entries, 0 to 9793
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   STATION_ID  9794 non-null   string
 1   ZIP_CODE    9794 non-null   int64
dtypes: int64(1), string(1)
memory usage: 153.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42522 entries, 0 to 42521
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ZIP_CODE  42522 non-null  int64
 1   STATE     42522 non-null  string
dtypes: int64(1), string(1)
memory usage: 664.5 KB

(None, None, None, None)

In [7]:
# Merge heating degree days into cooling degree days

climate_df = pd.merge(cool_degree_days_df, heat_degree_days_df, how='inner', on='STATION_ID')

In [8]:
# Add station state location to climate data

climate_df = climate_df.merge(station_location_df, how='left', on='STATION_ID')

In [9]:
# Add zip codes to climate data

climate_df = climate_df.merge(zip_codes_df, how='left', on='ZIP_CODE')

In [10]:
# Remove all null entries (Given the limited amount of null observations) 

climate_df.dropna(axis=0, inplace=True)

For every data entry in COOLING_DD and HEATING_DD there is ending character as a completeness flag:

- C = complete (all 30 years used)
- S = standard (no more than 5 years missing and no more than 3 consecutive years missing among the sufficiently complete years)
- R = representative (observed record utilized incomplete, but value was scaled or based on filled values to be representative of the full period of record)
- P = provisional (at least 10 years used, but not sufficiently complete to be labeled as standard or representative)
- Q = quasi-normal (at least 2 years per month, but not sufficiently complete to be labeled as provisional or any other higher flag code
- Blank = the data value is reported as a special value such as 9999

I will keep C, S, and R observations.

In [11]:
# Check % of C, S and R flags in cooling degree days

cc = round(climate_df.COOLING_DD.str.count('C').sum() / climate_df.shape[0], 2)
cs = round(climate_df.COOLING_DD.str.count('S').sum() / climate_df.shape[0], 2) 
cr = round(climate_df.COOLING_DD.str.count('R').sum() / climate_df.shape[0], 2) 

cc, cs, cr

(0.03, 0.34, 0.48)

In [12]:
# Check % of C, S and R flags in heating degree days

hc = round(climate_df.HEATING_DD.str.count('C').sum() / climate_df.shape[0], 2)
hs = round(climate_df.HEATING_DD.str.count('S').sum() / climate_df.shape[0], 2) 
hr = round(climate_df.HEATING_DD.str.count('R').sum() / climate_df.shape[0], 2) 

hc, hs, hr

(0.03, 0.34, 0.48)

85% of data have any of those flags, so I can safely remove the rest unreliable data without loosing too many observations

In [13]:
# Keep entries ending with C, S or R

climate_df = climate_df[climate_df.COOLING_DD.str.endswith('C') |
                        climate_df.COOLING_DD.str.endswith('S') |
                        climate_df.COOLING_DD.str.endswith('R')]

In [14]:
# Keep entries ending with C, S or R

climate_df = climate_df[climate_df.HEATING_DD.str.endswith('C') |
                        climate_df.HEATING_DD.str.endswith('S') |
                        climate_df.HEATING_DD.str.endswith('R')]

In [15]:
# Create a funtion to remove last character 
def remove_last_char(series):
    '''Removes last character from each entry in a Series with all string dtypes'''
    for ix, row in series.iteritems():
        series[ix] = row[:-1]

In [16]:
# Remove last character in COOLING_DD and HEATING_DD data

remove_last_char(climate_df['COOLING_DD'])
remove_last_char(climate_df['HEATING_DD'])

In [17]:
# Check for df formatting

climate_df.head()

     STATION_ID COOLING_DD HEATING_DD  ZIP_CODE STATE
38  RQC00666992        492        380     718.0    PR
39  RQC00667292       5398          0     795.0    PR
40  RQC00668306       5117          0     925.0    PR
41  RQC00668881       4871          0     685.0    PR
42  RQC00669521       5096          0     976.0    PR

In [18]:
# Drop station id and zip code info. No longer need them

climate_df.drop(['STATION_ID', 'ZIP_CODE'], axis=1, inplace=True)

In [19]:
climate_df['COOLING_DD'] = pd.to_numeric(climate_df['COOLING_DD'])
climate_df['HEATING_DD'] = pd.to_numeric(climate_df['HEATING_DD'])

In [20]:
# Group by state to generate a link column with the projects information table 

climate_by_st = climate_df.groupby(by='STATE').mean()

In [21]:
climate_by_st

        COOLING_DD   HEATING_DD
STATE
AK        5.111111  8397.138889
AL     1954.056180  2657.449438
AR     1829.100000  3411.490000
AZ     2143.371795  3182.641026
CA     1105.555874  3156.432665
CO      509.427807  6867.032086
CT      596.791667  6203.041667
DC     1497.333333  4202.000000
DE     1192.666667  4551.888889
FL     3332.919118   745.102941
GA     1929.165138  2580.064220
HI     2533.484848   606.212121
IA      809.295775  6914.387324
ID      345.815385  7399.238462
IL     1025.006944  5774.479167
IN      925.900000  5731.850000
KS     1370.088608  5166.411392
KY     1290.750000  4408.887500
LA     2552.579545  1876.647727
MA      515.830508  6454.271186
MD     1137.708333  4756.333333
ME      249.910714  8249.464286
MI      417.489209  7638.000000
MN      489.848921  8593.812950
MO     1294.503401  4943.884354
MS     2106.295455  2598.886364
MT      329.707763  7949.954338
NC     1352.942446  3708.899281
ND      444.922414  8981.422414
NE      862.798742  6575.899371
NH      356.971429  7702.457143
NJ      888.068182  5358.227273
NM      890.491124  4938.047337
NV      936.900901  5745.369369
NY      466.845638  7035.187919
OH      794.638655  5865.857143
OK     1871.824000  3768.544000
OR      323.304124  5843.443299
PA      653.173913  6101.818841
PR     4606.555556    42.222222
RI      567.125000  5701.500000
SC     1891.250000  2758.809524
SD      664.430556  7654.493056
TN     1375.444444  3975.965812
TX     2531.979070  2303.374419
UT      743.136646  6352.180124
VA     1067.029126  4560.805825
VI     5412.800000     0.000000
VT      302.256410  8171.384615
WA      296.105263  5849.546053
WI      455.237500  8063.087500
WV      738.287234  5429.297872
WY      373.637168  7824.610619

### Now, I will consolidate building attributes and project attributes

In [22]:
# Inspecting dfs

measures_df.shape, project_df.shape

((75110, 89), (75110, 31))

In [23]:
measures_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75110 entries, 0 to 75109
Data columns (total 89 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   AWARDEENUMBER                75110 non-null  int64
 1   PROJECTID                    75110 non-null  int64
 2   INST_FURNACE                 75110 non-null  int64
 3   INST_FURNACE_AFUE            3478 non-null   float64
 4   INST_FURNACE_FUEL            3629 non-null   object
 5   INST_BOILER                  75110 non-null  int64
 6   INST_BOILER_AFUE             963 non-null    float64
 7   INST_BOILER_FUEL             1062 non-null   object
 8   INST_WOOD_STOVE              75110 non-null  int64
 9   INST_WATER_HEATER            75110 non-null  int64
 10  INST_WATER_HEATER_FUEL       1835 non-null   object
 11  INST_WATER_HEATER_EF         976 non-null    float64
 12  INST_HEAT_PUMP               75110 non-null  int64
 13  INST_HEAT_PUMP_TYPE          1250 non-null   object
 14  INST_HEAT_PUMP_COP           3824 non-null   float64
 15  INST_HEAT_PUMP_EER           227 non-null    float64
 16  INST_HEAT_PUMP_HSPF          835 non-null    float64
 17  INST_HEAT_PUMP_SEER          819 non-null    float64
 18  INST_AC                      75110 non-null  int64
 19  INST_AC_SEER                 3239 non-null   float64
 20  INST_AC_EER                  1518 non-null   float64
 21  INST_VENT_SYS                75110 non-null  int64
 22  INST_VENT_SYS_CAT            80 non-null     object
 23  INST_VENT_SYS_TYPE           26 non-null     object
 24  INST_INSUL_ATTIC             75110 non-null  float64
 25  INST_INSUL_ATTIC_R           12869 non-null  float64
 26  INST_INSUL_ATTIC_THICK       6807 non-null   float64
 27  INST_DUCT_INSUL              75110 non-null  int64
 28  INST_DUCT_INSUL_R            1634 non-null   float64
 29  INST_INSUL_WALL              75110 non-null  float64
 30  INST_INSUL_WALL_R            5247 non-null   float64
 31  INST_INSUL_WALL_EXT_R        89 non-null     float64
 32  INST_INSUL_WALL_THICK        2924 non-null   float64
 33  INST_INSUL_FLR_FND           75110 non-null  float64
 34  INST_INSUL_FLR_FND_R         5034 non-null   float64
 35  INST_WINDOWS                 75110 non-null  float64
 36  REP_WINDOWS                  644 non-null    float64
 37  INST_WINDOWS_U               1070 non-null   float64
 38  INST_WINDOWS_SHGC            613 non-null    float64
 39  INST_WINDOWS_STORM           35 non-null     float64
 40  INST_AIR_SEALING             75110 non-null  int64
 41  INST_AIR_SEALING_CFM50PRE    13106 non-null  float64
 42  INST_AIR_SEALING_CFM50POST   12785 non-null  float64
 43  INST_DUCT_SEALING            75110 non-null  int64
 44  INST_DUCT_SEALING_CFM25PRE   530 non-null    float64
 45  INST_DUCT_SEALING_CFM25POST  538 non-null    float64
 46  INST_REFRIG                  75110 non-null  int64
 47  RMV_FURNACE                  75110 non-null  int64
 48  RMV_BOILER                   75110 non-null  int64
 49  RMV_WOOD_STOVE               75110 non-null  int64
 50  RMV_HEAT_PUMP                75110 non-null  int64
 51  RMV_WATER_HEATER             75110 non-null  int64
 52  RMV_AC                       75110 non-null  int64
 53  RMV_VENT_SYS                 75110 non-null  int64
 54  RMV_INSUL_ATTIC              75110 non-null  int64
 55  RMV_INSUL_WALL               75110 non-null  int64
 56  RMV_INSUL_FLR_FND            75110 non-null  int64
 57  RMV_WINDOWS                  75110 non-null  int64
 58  RMV_REFRIG                   75110 non-null  int64
 59  INST_FURNACE_TUNE            75110 non-null  int64
 60  INST_AC_TUNE                 75110 non-null  int64
 61  INST_DISHWASHER              75110 non-null  int64
 62  INST_DOORS                   75110 non-null  int64
 63  INST_FIREPLACE_INSERT        75110 non-null  int64
 64  INST_FREEZER                 75110 non-null  int64
 65  INST_HVAC_UPGRADE            75110 non-null  int64
 66  INST_HVAC_TUNE               75110 non-null  int64
 67  INST_LIGHTING                75110 non-null  int64
 68  INST_OTHER                   75110 non-null  int64
 69  INST_PCKG_UNIT_HT            75110 non-null  int64
 70  INST_CLTH_WASH               75110 non-null  int64
 71  INST_WATER_CONSERV           75110 non-null  int64
 72  INST_DHW_INSUL               75110 non-null  int64
 73  INST_WTHR_STRPNG             75110 non-null  int64
 74  INST_LOWFLOW                 75110 non-null  int64
 75  INST_PRGM_TSTAT              75110 non-null  int64
 76  INST_THERMO_VLV              75110 non-null  int64
 77  INST_INSUL_BSMT              75110 non-null  int64
 78  INST_RAD_BARRIER             75110 non-null  int64
 79  INST_CORE_ENERGY             75110 non-null  int64
 80  INST_HEALTH_SAFETY           75110 non-null  int64
 81  INST_INSUL_OTHER             75110 non-null  int64
 82  INST_CHIMNEY_LINER           75110 non-null  int64
 83  INST_SMART_STRIPS            75110 non-null  int64
 84  RMV_AIR_SEALING              75110 non-null  int64
 85  RMV_DUCT_INSUL               75110 non-null  int64
 86  RMV_DUCT_SEALING             75110 non-null  int64
 87  RMV_DHW_INSUL                75110 non-null  int64
 88  INST_OTHER_VALUE             75110 non-null  int64
dtypes: float64(28), int64(55), object(6)
memory usage: 51.0+ MB

In [24]:
project_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75110 entries, 0 to 75109
Data columns (total 31 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   AWARDEENUMBER                           75110 non-null  int64
 1   PROJECTID                               75110 non-null  int64
 2   RETROFITJOBHOURS                        63670 non-null  float64
 3   RETROFITINVOICEDCOST                    66281 non-null  float64
 4   BUILDINGACTIVITYTYPE                    71212 non-null  float64
 5   OCCUPANCY                               54373 non-null  float64
 6   ISLOWINCOME                             32566 non-null  object
 7   FLOORAREA                               75110 non-null  object
 8   FLOORAREAUNIT                           58863 non-null  object
 9   ISDIRECTINSTALLATIONUSED                56195 non-null  object
 10  LOANAMOUNT                              15118 non-null  float64
 11  INSTALL_ELECT_SAVINGS_KWH               56108 non-null  float64
 12  INSTALL_NG_SAVINGS_THERMS               52170 non-null  float64
 13  INSTALL_FO_SAVINGS_GAL                  75110 non-null  int64
 14  INSTALL_LPG_SAVINGS_GAL                 75110 non-null  int64
 15  INSTALL_KERO_SAVINGS_GAL                75110 non-null  int64
 16  INSTALL_WOOD_SAVINGS_MMBTU              75110 non-null  int64
 17  AUDITSOFTWARENAME                       75110 non-null  object
 18  PREDICTIONMETHODTYPEDESC                75110 non-null  object
 19  DECADEBUILT                             75110 non-null  object
 20  STATE                                   75110 non-null  object
 21  STATE_BASED_ON                          75110 non-null  object
 22  ANNUALCOSTSAVINGS                       66282 non-null  float64
 23  RETROFITSTARTMONTHYEAR                  13825 non-null  object
 24  RETROFITCOMPLETIONMONTHYEAR             73519 non-null  object
 25  DAYSFROMRETROFITSTARTTOCOMPLETION       13499 non-null  float64
 26  AUDITCOMPLETIONMONTHYEAR                49634 non-null  object
 27  DAYSFROMAUDITCOMPLETIONTORETROFITSTART  9667 non-null   float64
 28  LOANAPPROVALMONTHYEAR                   12202 non-null  object
 29  AUDITJOBHOURS                           67669 non-null  float64
 30  AUDITINVOICEDCOST                       67465 non-null  float64
dtypes: float64(12), int64(6), object(13)
memory usage: 17.8+ MB

In [25]:
# Check for uniqueness ID for projects.

measures_df['PROJECTID'].nunique(), project_df['PROJECTID'].nunique()

(75110, 75110)

In [26]:
# Consolidate all tables

df = pd.merge(measures_df, project_df, how='inner', on='PROJECTID')
df.drop(['AWARDEENUMBER_x', 'AWARDEENUMBER_y', 'PROJECTID'], axis=1, inplace=True)

df = pd.merge(df, climate_by_st, how='left', on='STATE')

**There are many variables that are not useful for our analyisis at this point:**
1. Irrelevant project attributes.
2. Undefined retrofit measures.
3. Flags about building conditioning systems and construction elements removed.

In [27]:
# Remove other columns with little or not interesting information (case 1 and 2)

columns2drop = ['STATE_BASED_ON', 
                'FLOORAREAUNIT', 
                'RETROFITSTARTMONTHYEAR', 
                'RETROFITCOMPLETIONMONTHYEAR', 
                'AUDITCOMPLETIONMONTHYEAR',
                'LOANAPPROVALMONTHYEAR',
                'INST_CORE_ENERGY',
                'INST_HEALTH_SAFETY',
                'REP_WINDOWS',
                'LOANAMOUNT',
                'DAYSFROMRETROFITSTARTTOCOMPLETION',
                'DAYSFROMAUDITCOMPLETIONTORETROFITSTART']

df.drop(columns2drop, axis=1, inplace=True)

In [28]:
# Remove RMV columns (case 3).

columns2drop = [i for i in df.columns if i.startswith('RMV')]
df.drop(columns2drop, axis=1, inplace=True)

In [29]:
df.shape

(75110, 90)

In [30]:
# Save consolidated data

file = 'C:/Users/javie/OneDrive/Documents/springboard_projects/Capstone-2/data/interim/consolidated.csv'
df.to_csv(file)